@font-face {font-family: "Super Mario 256";
    src: url("https://db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.svg#Super Mario 256") format("svg"); /* iOS 4.1- */
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.title-container {
	height: 250px;
	background: url("img/allstarts_logo.png") no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}
.jumbotron {
	background-color: transparent;
    align-items: center;
    justify-content: center;
}

.jumbotron-header {
	font-family: "Super Mario 256";
    text-align: center;
	color: red;
	font-weight: 400;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

body {
    margin: 20px 0;
    background: url("img/background.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.grid {
    max-width: 590px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.back,
.front {
    height: 75px;
    width: 75px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background: #FAB942 url("img/question.gif") no-repeat center center / contain;
    }
.back {
    transform: rotateY(180deg);
    background-color:rgba(0,0,0,0.0);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: rgba(0,0,0,0.0) !important;
}
